:root{
    --rosa-claro: #F2A7D4;
    --cinza-claro: #D3D3D3;
    --branco: #ffff; 

}

header{
       background-color: var(--rosa-claro);
    background-size: cover; 
    background-position: center; 
    padding: 40px 20px; 
    color: rgb(255, 255, 255); 
    text-align: center;
    font-size: 27px;
    border-radius: 7px;
}

header p{
    font-size: 21px;
}

.ingrediantes{
      display: flex;
    align-items: center;
    height: 100vh

}

img{
    size: 10px;
}